.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.loader {
  border: 1rem solid #999999;
  border-radius: 50%;
  border-top: 1rem solid rgb(41, 41, 41);
  width: 8rem;
  height: 8rem;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
